In [2]:
import pandas as pd

In [8]:
df = pd.read_csv('phone_data.csv')
df.head()

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [10]:
df['date'].head()

0    15/10/14 06:58
1    15/10/14 06:58
2    15/10/14 14:46
3    15/10/14 14:48
4    15/10/14 17:27
Name: date, dtype: object

In [13]:
df['index'][df['index'] > 3].head()

4    4
5    5
6    6
7    7
8    8
Name: index, dtype: int64

In [16]:
df[['index', 'date']].head()

   index            date
0      0  15/10/14 06:58
1      1  15/10/14 06:58
2      2  15/10/14 14:46
3      3  15/10/14 14:48
4      4  15/10/14 17:27